  .row {
    background: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
  }
  
  .col {
    border: solid 0px #6c757d; /* set this to 1 to see the layout */
    padding: 0px;
  }
  
  .description {
    padding: 5px;
  }

  .figure1 {
    float: right;
  }
  
  #summary {
    max-height: 100px;
    overflow: hidden;
  }

  .search-title {
    height: 3.3em;
    line-height: 1.5;
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    overflow: hidden;
    /* white-space: nowrap;
    text-overflow: ellipsis; */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
  }
  
  .ellipsis {
    text-overflow: ellipsis;
  
    /* Required for text-overflow to do anything */
    white-space: wrap;
  }

  .sort_by {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .container-flex {
    display: flex;
    justify-content: space-between; 
  }

  .container-search-result {
    margin-top: 24px;
    margin-right: 0px;
  }

  .container-main {
    max-width: 1200px;
  }

  .left-padded {
    padding-left: 60px;
  }

  #emissions-histogram {
    max-height: 100%;
    max-width: 100%;
  }

  .ingredient-list {
    list-style-type: circle;
    list-style-position: outside;
  }

  .directions-list {
    list-style-type: decimal;
    line-height: 110%;
    list-style-position: outside;
  }

  .nutrition {
    text-align: left;
  }

  .servings {
    text-align: left;
  }

  .next-page {
    text-align: center;
  }

  .icon {
    border: 20px;
  }
  
  /* star rating without user interaction */
  .stars-outer {
    position: relative;
    display: inline-block;
  }

  .sustainability-outer {
    position: relative;
    display: inline-block;
  }

  .similarity-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .sustainability-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }

  .similarity-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }
  
  .sustainability-outer::before {
    content: "\f06c \f06c \f06c \f06c \f06c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }

  .sustainability-inner::before {
    content: "\f06c \f06c \f06c \f06c \f06c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #12d800;
  }

  .similarity-outer::before {
    content: "\f291 \f291 \f291 \f291 \f291";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }

  .similarity-inner::before {
    content: "\f291 \f291 \f291 \f291 \f291";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #1851f0;
  }

/* Star rating with user interaction */
/* from: https://codepen.io/jamesbarnett/pen/vlpkh */
fieldset, label { margin: 0; padding: 0;}

.interact_rating { 
  border: none;
  float: left;
}

.interact_rating > input { display: none; }
.interact_rating > label:before {
  margin: .1px;
  font-size: 1em;
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  content: "\f005";
}

.interact_rating > .half:before {
  content: "\f005";
  position: absolute;
}

.interact_rating > label {
  color: #ddd; 
  float: right; 
}

/* CSS Magic to Highlight Stars on Hover */

.interact_rating > input.radio-btn:checked ~ label, /* show gold star when clicked */
.interact_rating:not(:checked) > label:hover, /* hover current star */
.interact_rating:not(:checked) > label:hover ~ label { color: #9b39f7;  } /* hover previous stars in list */

.interact_rating > input.radio-btn:checked + label:hover, /* hover current star when changing rating */
.interact_rating > input.radio-btn:checked ~ label:hover,
.interact_rating > label:hover ~ input.radio-btn:checked ~ label, /* lighten current selection */
.interact_rating > input.radio-btn:checked ~ label:hover ~ label { color: #cda0f1;  } 

  .cookbook {
    width: 40px;
    height: 30px;
    position: relative;
    display: inline-block;
}

  .cookbook .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .cookbook:hover .img-top {
      display: inline;
  }
  
#form-group {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
}

.blog_iframe {
  overflow: hidden;
  height: 86vh;
  width: 100%;
  display:block;
}

.logo_startpage {
  width: 75px;
  height: 75px;
}