<!-- inspired by https://rapidapi.com/blog/build-food-website/ -->
{% from 'field-macro.html' import displayField %}
<!doctype html>
<html lang="en">

    <head>
        <!-- favicon: Symbol shown in tab of browser -->
        <link rel="shortcut icon" type="image/x-icon" href="../static/favicon.ico" />

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block meta %}{% endblock %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/style.css">
        
        <!-- JS: jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}
        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-success">
            <div class="container  container-main">
            <a class="navbar-brand" href="{{ url_for('main.home') }}">
                <img src="../static/logo_white.png" width="30" height="30" alt="Sustainable Recipe Recommender">
            </a>          
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{{ url_for('main.blog') }}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="https://github.com/sbuergers/sustainable-recipe-recommender", target="_blank">Github</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('main.profile') }}">Cookbook</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('auth.signin') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{{ url_for('auth.signup') }}">Sign up</a>
                    </li>
                {% endif %}
              </ul>
              <!-- search bar -->
              {% block navsearch %}
              {% endblock %}
            </div><!--/container-->
        </nav>
        <div id="wrap">
            <div id="main" class="container container-main">
                {% block body %}
                    Body block
                {% endblock %}
            </div><!--/container-->
        </div>
    </body>
    

    <!-- Footer -->
    <footer class="page-footer font-small bg-light">

    <!--Copyright and privacy policy-->
    <div class="footer text-center bg-light py-2">
        <p>
            © 2020 Steffen Buergers |
            Contact: sbuergers at gmail dot com |

            <!-- Github -->

            
            <!-- LinkedIn -->


            <!-- CREATIVE COMMONS LICENSE SHARE ALIKE 
            I might want to use this instead in the future, but it's irrevocable, 
            so for now I am keeping the rights to myself.

            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
            </a>
            This work is licensed under a 
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/", target="_blank">
                Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License
            </a> |
            -->
            <a rel="terms-and-conditions" href="{{ url_for('auth.terms_and_conditions') }}" target="_blank">
                Terms and Conditions
            </a> |
            <a rel="privacy-policy" href="https://www.websitepolicies.com/policies/view/BvEcJMft", target="_blank">
                Privacy Policy
            </a>
            <a href="#" class="fa fa-twitter"></a>
        </p>
    </div>
  </footer>
    
</html>