{% from 'field-macro.html' import displayField %}
{% extends 'base.html' %}

{% block meta %}
<meta name="title" content="explore recipes">
<meta name="route" content="main.search_results">
<meta name="url" content="explore.html">
{% endblock %}

{% block title %} Recommended recipes {% endblock %}

{% block navsearch %}
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('main.home') }}" method="POST">
        {{ search_form.search(class_='form-control', placeholder='Search') }}
        {{ search_form.csrf_token }}
    </form>
{% endblock %}

{% block body %}

<!-- Get CDNs -->
<link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">

<!-- JS actions -->
<script nonce="{{ csp_nonce() }}">
    // RATING SCALES 
    function setRating(perc_ratings, class_selector, icon_selector='') {

        // Set width of stars-inner 
        var starElements = document.querySelectorAll(
            class_selector.concat(icon_selector))
        var i;
        for (i = 0; i < starElements.length; i++) {
            starElements[i].style.width = `${perc_ratings[i]}%`;
        }
        // Add rating as number next to it 
        var starElements = document.querySelectorAll(
            class_selector.concat(".number-rating"))
        var i;
        for (i = 0; i < starElements.length; i++) {
            starElements[i].innerHTML = `${perc_ratings[i]}%`;
        }
    }  
    
    // Wait for DOM to load before fetching div elements
    document.addEventListener("DOMContentLoaded", function(event) { 

        // RATING SCALES
        var ratings = {{ ratings | safe }};
        var emissions = {{ emissions | safe }};
        
        // Render Rating
        setRating(perc_ratings=ratings, 
                  class_selector=".rating", 
                  icon_selector=".stars-inner");
        
        // Render emissions
        setRating(perc_ratings=emissions, 
                  class_selector=".emissions", 
                  icon_selector=".sustainability-inner");
    });

</script>


<div class="row">
{% for recipeID, df in results.iterrows() %}

    <!-- maximum of 4 columns of search results (irrespective of display size) -->
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3"> <!--First column of search results-->

        <div class="container-search-result"> <!-- do I need this?? -->
            
            <!-- Title -->
            <div class="search-title"> 
                {{ df['title'] }}
            </div>

            <!-- Ratings and emissions -->
            <div>
                <tr class="rating">
                    <td></td>
                    <td>
                        <img src="../static/like_icon.png" class="icon" title="Average user rating">
                        <div class="stars-outer">
                        <div class="rating stars-inner" title="Average user rating"></div>
                        </div>
                        <span class="rating number-rating"></span>
                        ({{'%i' | format(df['review_count']|int) }} votes)
                    </td>
                </tr>
            </div>

            <div>
                <tr class="emissions">
                    <td></td>
                    <td>
                        <img src="../static/sustainability_icon.png" class="icon" title="Relative green house gas emissions">
                        <div class="sustainability-outer">
                        <div class="emissions sustainability-inner" title="Relative green house gas emissions"></div>
                        </div>
                        <span class="emissions number-rating"></span>
                        <!-- Show absolute CO2 emissions relative to reference recipe -->
                        (<span  title="Estimated amount of CO2 emissions in kg">
                            {{'%0.2f'| format(df['ghg']|float) }}
                        </span> kg)
                    </td>
                </tr>
            </div>

            <!-- Image -->
            <div class="row">
                <a href="{{ 'https://www.epicurious.com/recipes/food/views/' + df['url']}}" 
                    target="_blank">
                    <img src="{{ df['image_url'] }}" alt="">
                </a>
            </div>

            <!-- Below image -->
            <div class="container-flex">

                <!-- Links -->
                <a href="{{ 'https://www.epicurious.com/recipes/food/views/' + df['url']}}" target="_blank">
                    recipe
                </a>
                |
                <a href="{{ url_for('main.compare_recipes', search_term=df['url'], page=0) }}">
                    suggestions
                </a>
                |
                <!-- Like / unlike recipe -->
                {% if df['user_rating'] == 5 %}

                    <!-- recipe was liked -->
                    <form action="{{ url_for('main.dislike_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-dislike-unrated btn-sm" title="Dislike recipe">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </button>
                    </form>
                    <form action="{{ url_for('main.unlike_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-like-rated btn-sm" title="Like recipe">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </button>
                    </form>
                {% elif df['user_rating'] == 1 %}

                    <!-- recipe was disliked -->
                    <form action="{{ url_for('main.unlike_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-dislike-rated btn-sm" title="Dislike recipe">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </button>
                    </form>
                    <form action="{{ url_for('main.like_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-like-unrated btn-sm" title="Like recipe">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </button>
                    </form>
                {% else %}
                    
                    <!-- recipe was neither liked nor disliked -->
                    <form action="{{ url_for('main.dislike_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-dislike-unrated btn-sm" title="Dislike recipe">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </button>
                    </form>
                    <form action="{{ url_for('main.like_recipe', recipe_url=df['url'], sort_by=sort_by) }}" method="POST">
                        {{ like_form.csrf_token }}
                        <button type="submit" class="btn btn-like-unrated btn-sm" title="Like recipe">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        </button>
                    </form>
                {% endif %}
                |
                <!-- bookmark / unbookmark-->
                {% if df['bookmarked'] %}
                    <a href="{{ url_for('main.add_or_remove_bookmark', bookmark=df['url'], origin='main.search_results') }}">
                        <div class="cookbook">
                            <img src="../static/cookbook_icon.png" alt="bookmark" title="Remove recipe from cookbook">
                            <img src="../static/cookbook_icon_inactive.png" class="cookbook img-top" alt="bookmarked" title="Remove recipe from cookbook">
                        </div>
                    </a>
                {% else %}
                    <a href="{{ url_for('main.add_or_remove_bookmark', bookmark=df['url'], origin='main.search_results') }}">
                        <div class="cookbook">
                            <img src="../static/cookbook_icon_inactive.png" alt="bookmark" title="Add recipe to cookbook">
                            <img src="../static/cookbook_icon.png" class="cookbook img-top" alt="bookmarked" title="Add recipe to cookbook">
                        </div>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
<br><br>

{% endblock %}

<!-- eof -->
