{% extends "base.html" %}

{% block meta %}
    <meta name="title" content="Reset password | SRR">
    <meta name="route" content="auth.reset_password">
    <meta name="url" content="reset-password.html">
    <meta name="author" content="Steffen Buergers">
    <meta name="description" content="Reset password.">
    <title>Reset password | SRR</title>
{% endblock %}

{% block body %}
    <h1>Reset Your Password</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            Password<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            Verify password<br>
            {{ form.confirm_pswd(size=32) }}<br>
            {% for error in form.confirm_pswd.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


<!-- eof-->
