{% from 'field-macro.html' import displayField %}
{% extends 'base.html' %}

{% block meta %}{% endblock %}

{% block title %} Recommended recipes {% endblock %}

{% block navsearch %}
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_results') }}" method="POST">
        {{ search_form.search(class_='form-control', placeholder='Search') }}
        {{ search_form.csrf_token }}
    </form>
{% endblock %}

{% block body %}
<div class="row">
{% for recipeID, df in results.iterrows() %}
{% endfor %}
</div>
{% endblock %}


<!-- eof -->
